{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :tools/usage {:ns-default pogonos.api}
 :aliases {:check
           {:extra-deps
            {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                              :sha "0ca84df1357d71429243b99908303f45a934654c"}}
            :main-opts ["-m" "clj-check.check"]}
           :test
           {:extra-paths ["test" "test-resources"]
            :extra-deps {org.clojure/data.json {:mvn/version "2.4.0"}}
            :main-opts ["-m" "pogonos.test-runner"]}
           :coverage
           {:extra-deps {cloverage/cloverage {:mvn/version "1.2.3"}}
            :main-opts ["-m" "cloverage.coverage"
                        "-p" "src" "-s" "test" "--codecov"
                        "-e" "pogonos.reader"]}
           :shadow-cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}}
            :main-opts ["-m" "shadow.cljs.devtools.cli"]}
           :cljs
           {:extra-deps
            {org.clojure/clojurescript {:mvn/version "1.11.4"}}}
           :test-cljs
           {:main-opts ["-m" "cljs.main" "-re" "node"
                        "-m" "pogonos.test-runner"]}}}
